pyrofork
tgcrypto
pymongo[srv]
motor
marshmallow
umongo
requests
bs4
git+https://github.com/Joelkb/cinemagoer
Heroku3
search_engine_parser
wget
aiofiles
ffmpeg-python
ffmpeg
youtube_search
youtube_search_python
youtube-search-python
yt-dlp
youtube-dl
youtube_search
requests
aiohttp
gTTS
googletrans
telegraph
PyPDF2
ujson
pyshorteners
countryinfo
datetime
pytz
dnspython
aiohttp
python-math
Pillow
speedtest-cli
python-dotenv
