pyrofork==2.3.43
#git+https://github.com/KurimuzonAkuma/pyrogram
tgcrypto
pymongo
motor
marshmallow
umongo
requests
bs4
Heroku3
search_engine_parser
wget
aiofiles
ffmpeg-python
ffmpeg
youtube_search
youtube-search-python==1.4.6
yt-dlp
youtube-dl
youtube_search
requests
aiohttp==3.7.4
gTTS
googletrans
telegraph
PyPDF2
ujson
pyshorteners
countryinfo
datetime
pytz
dnspython 
aiohttp
python-math
Pillow
speedtest-cli
python-dotenv
